/* Fuentes */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    scroll-behavior: smooth;
}

h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 12px;
}

h2 {
    font-family: 'Poppins', sans-serif;
}

h3 {
    font-size: 1.5rem;
    font-family: 'Roboto';

}

.textBox p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 5rem;
}

.emoji {
    font-size: 70px;
    width: auto;
}

.toggle {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background: #000 url(/img/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 99;
}

.toggle.active {
    background: #000 url(/img/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
}