/* Fuentes */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    scroll-behavior: smooth;
}

h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 12px;
}

h2 {
    font-family: 'Poppins', sans-serif;
}

h3 {
    font-size: 1.5rem;
    font-family: 'Roboto';

}

.textBox p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 5rem;
}

.emoji {
    font-size: 70px;
    width: auto;
}

.toggle {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background: #000 url("../img/menu.png");
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 99;
}

.toggle.active {
    background: #000 url("../img/close.png");
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
}

section {
    padding: 100px;
    min-height: 100vh;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;

}

.imgSidebar{
    margin: 1rem;
    margin-top: 6rem;
    margin-right: 2rem;
}

.banner .imgSidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 450px;
    height: 100px;
}

.img-fluid.home {
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.banner .contentBox, .sidebar {
    position: absolute;
    top: 0;
    right: 10px;
    width: calc(100% - 500px);
    height: 100%;

}

.intro {

    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 13rem;
    margin-left: 6rem;
}

.intro a{
    margin-top: 2rem;
}

.logoText {
    position: absolute;
    top: 40px;
    left: 100px;
    font-size: 1.2rem;
}

.sidebar {
    position: fixed;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    padding: 40px;
    right:  -100%;
}

.sidebar.active {
    right: 0;
}

.sidebar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar ul li {
    list-style: none;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    margin: 10px 0;
    letter-spacing: 2px;
}

.sidebar ul li a:hover{
    text-decoration: none;
    transform: translateX(5px);
    transition: .5s ease;
    opacity: .3;
}

.media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.media li {
    list-style: none;
    font-size: 30px;
    margin-right: 1rem;
}

.media li i {
    opacity: .7;
    transform: scale(.7);
}

.media li i:hover {
    transform: scale(1);
    opacity: 1;
}

.title {
    width: 100%;
    text-align: center;
}

.title h2 {
    position: relative;
    font-size: 1.8em;
    letter-spacing: 1px;
}

.title h2::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 60px;
    height: 4px;
    background: #000;
}

.title p {
    max-width: 700px;
    display: inline-block;
    margin-top: 1rem;
}

.title.white h2, .title.white p {
    color: #fff;
}

.title.white h2::before {
    background: #fff;
}

.about {
    background: #000;
}

.about .content {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.about .content .textBox {
    min-width: 49%;
    width: 49%;
}

.about .content .textBox p {
    color: #fff;
}

.about .content .imgBox {
    margin-left: 40px;
}

.about .content .imgBox img {
    max-width: 100%;
}

.projects .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.footer {
    background: #000;
    background-size: cover;
}

#particles-js {
    height: 100%;
    opacity: .2;
}

.typed-cursor {
    display: none;
}

/* media queries */

@media screen and (max-width: 1060px) {
    .banner .imgSidebar {
        display: none;
    }
    .banner .contentBox, .sidebar {
        width: 100%;
        padding: 40px;
    }

    .about .content {
        flex-direction: column;
        margin-top: 0;
        justify-content: center;
        align-items: center;
    }
    .about .content .textBox {
        min-width: 100%;
        width: 100%;
    }
    section {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        min-width: 100%;
        padding: 40px;
    }
    .projects .container .project {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .about .content .imgBox {
        margin-left: 0;
    }
}

@media screen and (max-width: 360px) {
    .contentBox {
        margin-top: -3rem;
    }

    .logoText {
        margin-top: 3rem;
    }
}

@media screen and (max-width: 315px) {
    .contentBox .intro .btn{
        display: none;
    }
}